@{
    ViewData["Title"] = "Отказано в доступе";
}

<div class="container">
    <p class=" text-danger">Отказано в доступе!</p>
    <a asp-controller="Home" asp-action="Index">На главную страницу</a>
    <br />
    @if(ViewBag.ReturnUrl!=null)
    {
        <a href="/@ViewBag.ReturnUrl">Вернуться</a>
    }
    
</div>