<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="~/Home/EmployeesList">Список сотрудников</a>
    <p>Index page</p>

</body>
</html>
